<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                Seminárka
            </a>
        </div>

        <ul class="nav navbar-nav">
            <li><a href="/">Úvod</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sestavy <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/sestavy">Sestava uživatelů</a></li>
                <li><a href="/sestavy2">Sestava softwaru</a></li>
                <li><a href="/sestavy3pre">Sestava s parametrem</a></li>
                <li><a href="/sestavy4">Seskupovací Sestava</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ar aria-haspopup="true" aria-expanded="false" >Formuláře<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/forms">Formulář uživatelů</a></li>
                <li><a href="/forms2">Formulář softwaru</a></li>
              </ul>
            </li>
            <li> <a href="/datab">Otázky k prezentaci</a></li>
            <li> <a href="/code">Ukázka Kódu</a></li>
        </ul>

    </div>
</nav>
