<!DOCTYPE html>
<html lang="cz">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <H1>Seminární práce z IKT</H1>
            <h4>Ukázka databáze v MySQL</h4>
        </div>
    </main>


</body>
</html>
