<!DOCTYPE html>
<html lang="cz">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <h2>Formulář pro přidání softwaru uživatelům</h2>
          <form method="post">
            <div class="form-group">
              <label for="username">ID uživatele:</label>
              <select class="form-control" name="vyberUziv">
                <% for(var i=0; i<result.length; i++) { %>
                 <option value= <%= result[i]['ID'] %> ><%= result[i]['jmeno'] + ' ' + result[i]['prijmeni'] %></option>
                 <% } %>
              </select>
            </div>
            <div class="form-group">
              <label for="post">Vyber software:</label>
              <select class="form-control" name="vyberSoft">
                <option value="1">Photoshop</option>
                <option value="2">Illustrator</option>
                <option value="3">Gimp</option>
                <option value="4">Inkscape</option>
                <option value="5">Malování</option>
                <option value="6">Webstorm</option>
                <option value="7">Phpstorm</option>
                <option value="8">BlueJ</option>
                <option value="9">Eclipse</option>
                <option value="10">Intelli J</option>
                <option value="11">NetBeans</option>
                <option value="12">Visual Studio</option>
                <option value="13">TP-link Packet Tracer</option>
                <option value="14">Xamarin</option>
                <option value="15">Notepad++</option>
                <option value="16">Atom</option>
                <option value="17">Sublime Text</option>
                <option value="18">Unity3D</option>

              </select>
            </div>
            <button type="submit" class="btn btn-default">Odeslat</button>
          </form>
        <% if(state == 'success'){ %>
        <div class="alert alert-success" role="alert">Uživatelovi programy byli úspěšně aktualizovány</div>
        <% } %>
        <% if(state == 'error'){ %>
        <div class="alert alert-danger" role="alert">Chyba! Nalezena duplicita</div>
        <% } %>
        </div>
    </main>
  </body>
</html>
