<!DOCTYPE html>
<html lang="cz">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>Formuláře</h1>
            <form method="post">
              <div class="form-group">
                <label for="username">Jméno:</label>
                <input type="text" name="jmeno" class="form-control">
              </div>
              <div class="form-group">
                <label for="prijmeni">Příjmení:</label>
                <input type="text" name="prijmeni" class="form-control">
              </div>
              <div class="form-group">
                <label for="post">Vyber software:</label>
                <select class="form-control" name="vyberNazev">
                  <option value="1">Elitebook HP</option>
                  <option value="2">Notebook Acer</option>
                  <option value="3">Notebook Lenovo</option>
                  <option value="4">Notebook Toshiba</option>
                  <option value="5">Chromebook</option>
                  <option value="6">MacBook</option>
                </select>
              </div>
              <div class="form-group">
                <label for="page">Stránka uživatele:</label>
                <input type="text" name="page" class="form-control">
              </div>
              <button type="submit" class="btn btn-default">Odeslat</button>
            </form>
            <% if(state == 'success'){ %>
            <div class="alert alert-success" role="alert">Uživatel <%= user %> úspěšně zapsán do databáze!</div>
            <% } %>
        </div>
    </main>
</body>
</html>
