<!DOCTYPE html>
<html lang="cz">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <H1>Seminární práce z IKT</H1>
            <h4>Projekt je vypracován v Node JS a MySQL</h4>
            <h2>Základní Princip:</h3>
              <ul class = "list-group">
                <li>
                    Uživatel zadá adresu serveru, čímž odešle na server request se stránkou index.ejs
                </li>
                <li>
                    Server zareaguje na request a vygeneruje úvodní stránku s nabídku, kde si může uživatel vybrat, co chce zobrazit
                </li>
                <li>
                    Na výběr jsou pohledy (v Accessu Sestavy) a také nesmí chybět formuláře pro zadání nového uživatele
                </li>
                <li>
                  Po té co uživatel odešle požadavek na sestavu nebo formulář, server se SQL dotazem zeptá serveru na danná data, ze kterých později vytvoří sestavu
                </li>
                <li>
                  V MySQL serveru jsou již připravenné tzv. views, které ulehčují a zrychlují práci s požadovanými daty
                </li>
                <li>
                  Data které databázový server pošle jsou uloženy v jedné proměnné (results) což je vlastně pole uživatelů ve kterém je pole dat (jmeno, prijmeni, nazev_zarizeni...)
                </li>
                <li>
                  Node js server musí tyto data dynamicky zpracovat a vytvořit tabulku odpovídající na danná data
                </li>
                <li>
                  Pokud uživatel správně vyplní formulář, tak se odešle na server, kde se zpracuje, ještě jednou zkontroluje, a odešle se na MySQL server, kde se zapíše do databáze
                </li>
              </ul>
            <h2>Cíle:</h2>
            <ul>
              <li>Vytvořit MySQL databázi
                <ul>
                  <li>Vytvořit Tabulky</li>
                  <li>Vytovřit Relace</li>
                  <li>Vytovřit Dotazy</li>
                  <li>Vytovřit Views</li>
                </ul>
              </li>
              <li>
                Vytovřit Node js server
                <ul>
                  <li>Připojení na MySQL databázi
                    <ul>
                      <li>Komunikace s DB</li>
                      <li>Zpracování dat z DB</li>
                    </ul>
                  </li>
                  <li>Vykreslování dat na stránky</li>
                  <li>Vytvoření formuláře pro přístup do MySQL</li>
                  <li>Dostupný na veřejné IP adrese</li>
                </ul>
              </li>
            </ul>

        </div>
    </main>


</body>
</html>
