<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

       <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
        <script>
          // Initialize Firebase
          var config = {
            apiKey: "AIzaSyB6CzeBgeoP42Su6fEPSIPG-yfolO6EbLs",
            authDomain: "otazkovac-667ab.firebaseapp.com",
            databaseURL: "https://otazkovac-667ab.firebaseio.com",
            projectId: "otazkovac-667ab",
            storageBucket: "otazkovac-667ab.appspot.com",
            messagingSenderId: "983335148357"
          };
          firebase.initializeApp(config);
          function writeNewOtazka(val){
             if (val == "") {
               console.log('Někdo je čůrák a neumí napsat otázku!');
             } else {
               var newPostKey = firebase.database().ref().child('posts').push().key;
               firebase.database().ref('posts/'+newPostKey).set({
                 otazka: val
               });
             }

          }
          function readDalsiOtazka(){
              var ref = firebase.database().ref('posts');
              ref.on('child_added', function(data) {
                  $("#par").append("<li>" + data.val().otazka + "</li>");
                });
          }
    $(document).ready(function(){
        readDalsiOtazka();
       $("#btn").click(function(){
          var otazka = $("#input").val();
           $("#input").val("");
           writeNewOtazka(otazka);
       });
    });
    </script>
    <style>
       .mMain {
        background-color: #2c3a6b;
        color: #ffffff;
        padding: 100px 25px;
        margin: 0;
      }
      .mNav{
        margin: 0;
      }
      .mAuth{
        background-color: #efefef;
        color: #000000;
        padding-left: 20px;
          padding-right: 20px;
        margin 0;
      }
        .mPanel{
            padding-top: 10px;
            padding-bottom: 10px;

        }
    </style>
    </head>
    <body>
    <div>
    <h2 class="text-center mMain"><b>Prostor na otázky</b></h2>
    <div class="mAuth">
    <div class="input-group col-xs-12 mPanel">
      <input type="text" class="form-control" placeholder="Napište prosím otázku" id="input">
      <span class="input-group-addon btn btn-info" id="btn"><b>+</b></span>
    </div>
        <div class="mPanel">
            <h2 class="panel-title">Vaše otázky k prezentaci</h2>
            <ul id="par">
            </ul>
        </div>
        </div>
        </div>
</body>
</html>
