<!DOCTYPE html>
<html lang="cz">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Sestava zobrazující uživatele podle kritérii</h2>
            <table class="table table-hover">
              <thead>
               <tr>
                 <th>Jméno</th>
                 <th>Příjmení</th>
                 <th>Název zařízení</th>
                 <th>Stránka uživatele</th>
               </tr>
             </thead>
             <tbody>
               <% for(var i=0; i<result.length; i++) {%>
              <tr>
                <td><%= result[i]['jmeno'] %></td>
                <td><%= result[i]['prijmeni'] %></td>
                <td><%= result[i]['nazev_zarizeni'] %></td>
                <td><%= result[i]['page'] %></td>
              </tr>

              <% } %>
             </tbody>
        </table>
        </div>
    </main>



  </body>
</html>
