<!DOCTYPE html>
<html lang="cz">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
          <h2>Sestava zobrazující uživatele podle kritérii</h2>
          <form method="post">
            <div class="form-group">
              <label for="username">Jméno:</label>
              <input type="text" name="jmeno" class="form-control">
            </div>
            <button type="submit" class="btn btn-default">Odeslat</button>
          </form>
        </div>
    </main>



  </body>
</html>
