<!DOCTYPE html>
<html lang="cz">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="jumbotron">
            <h2>Sestava zobrazující uživatele a jejich software</h2>
             <table class="table table-hover">
               <thead>
                <tr>
                  <th>Jméno softwaru</th>
                  <th>Počet lidí užívajícíh danný software</th>
                </tr>
              </thead>
              <tbody>
                <% for(var i=0; i<result.length; i++) {%>
               <tr>
                 <td><%= result[i]['nazev_soft'] %></td>
                 <td><%= result[i]['soft'] %></td>
               </tr>

               <% } %>
              </tbody>
         </table>
        </div>
    </main>



  </body>
</html>
